<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:w3="http://www.w3.org/1999/html"
      xmlns:w32="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1 user-scalable=yes">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
  <meta name="x-apple-disable-message-reformatting">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

  <title>Authentication Mail</title>

  <style>
    .main-content {
      font-family: 'Roboto', sans-serif;
      margin: 0 auto;
      max-width: 682px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
      padding: 16px 24px 24px;
    }

    h2 {
      color: #555b66;
      margin: 44px 0 16px 0;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      line-height: 1.34;
      letter-spacing: normal;
      text-align: start;
    }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      color: #50565f;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
    }

    .w-100 {
      width: 100%;
    }
  </style>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <div class="w-100">
            {{> @partial-block }}
        </div>
        {{> footer}}
    </div>
</body>
</html>
